@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  /* shared item */
  .flex{
    display: flex;
  }
  .btn-primary{
    background-color: chocolate;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  /* shared item */

  /* navbar start*/
  .navbar-container,.banner{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .navbar{
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
  }
  .navbar > h2{
   font-size: 3rem;
  }
  .nav-item{
    list-style: none;
    margin-right: 25px;
  }
  /* banner */
  .banner{
    text-align: center;
    
  }
  .banner-contain{
    max-width: 800px;
    margin: 0 auto;
  }
  .banner-title{
    font-size: 4rem;
    margin-bottom: 20px;
  }
  .banner-img{
    width: 90%;
  }
  /* feature start */
  .teams{
    align-items: center;
    margin-top: 50px;
    gap: 70px;
  }
  .feature-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
  }
  .feature-container{
    max-width: 530px;
  }
  /* feature end */
  /* banner */
  /* navbar end*/

  /* responsive media query */
  /* phone start */
  @media screen and (max-width:576px) {
        .navbar,
        .nav-link,
        .teams{
            flex-direction: column;
        }
        .feature-img-container{
            grid-template-columns: repeat(1,1fr);
        }
        .feature-container{
            padding: 10px 10px;
        }
        .banner-title{
          font-size: 2rem;
        }
        .banner-description{
          padding: 10px;
          margin-right: 5px;
          margin-left: 5px;
        }
        .feature-description{
          padding: 10px;
        }

  }
  /* phone end */
  /* maiden device */
  @media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
        
    }
    .feature-img-container{
        grid-template-columns: repeat(2,1fr);
        padding: 20px;
    }
    .nav-item{
        list-style: none;
        margin-right: 10px;
      }
      .navbar{
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
        align-items: center;
        
      }
      .banner{
        max-width: 990px;
        margin: 0 auto;
      }
   
  }
  /* maiden device */
  /* responsive media query */